<?xml version="1.0" ?>
<!--
  ~ Copyright © 2023 EasyMage. All rights reserved.
  ~
  ~ @author    Amit Biswas <amit.biswas.webdev@gmail.com>
  ~ @copyright 2023 EasyMage
  ~ @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="EasyMage_Rewards">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
